html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Do Hyeon', sans-serif;
  background-color: #80ffff;
}
body {
  width: 540px;
  margin: 0 auto;
  background-color: #c0dfff;
  padding: 0 20px 20px 20px;
  border: 3px solid black;
}
h1 {
  font-size: 64px;
  margin: 0;
  padding: 20px 0;    
  color: #00c000;
  text-shadow: 3px 3px 1px black;
  text-align: center;
}
h2 {
  font-size: 48px;
  margin: 0;
  padding: 10px 0;    
  color: #008000;
  text-shadow: 2px 2px 1px dimgray;
  text-align: center;
}
p, li {
  font-size: 24px;    
  line-height: 1.5;
  letter-spacing: 1px;
}
img {
  display: block;
  margin: 0 auto;
}